 .block{
    margin: 30px auto;
    width: 700px;
    min-height: 500px;
    background-color: tomato;

}
form{
    text-align: center;
    padding-top: 30px;
}
.input{
    width:300px;
    height: 30px;
    font-size: 22px;
    border-radius: 10px;
    padding: 6px;
}
.btn{
  font-size: 24px;
 padding: 6px;
 border-radius: 10px;

}
h1{
    
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.list{
    text-align: center;
    font-size: 22px;
}